---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Fonts
@import 'https://fonts.googleapis.com/css?family=Lora';
@import 'https://fonts.googleapis.com/css?family=Roboto';

// Our variables
$base-font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   1rem;
$base-font-weight: 200;
$small-font-size:  $base-font-size * 0.975;
$base-line-height: 1.5;

$paragraph-font-size: 1.2rem;

$spacing-unit:     3rem;

$text-color:       rgb(255, 229, 153);
$background-color: #fdfdfd;
$brand-color:      #3535e0;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// HDC Colors
$hdc-first: #2F2933;
$hdc-second: #01A2A6;
$hdc-third: #29D9C2;
$hdc-fourth: lighten(#BDF271, 15%);
$hdc-fifth: lighten(#FFFFA6, 15%);

// ========== DOGECON STUFF ============

//Dogecon Colors
$theme-color1: hsl(202, 99%, 59%, 1);
$theme-color2: hsl(15, 95%, 49%, 1);
$theme-color3: rgb(53, 53, 224);
$theme-line-height: 1.4em;
$theme-letter-spacing: 1px;
$theme-h-font: monospace;
$space-url: url(../images/spacebg.jpg);

// ========== END OF DOGECON STUFF =========

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
