<!-- only bother if you need to change the top bar logo -->
<style>
  .site-header a.navbar-brand, .site-nav .site-nav-links .nav-item > a {
    color:{{page.nav_txt_color}};
  }
  header.site-header {
    background-color: {{ page.nav_bkg_color }};
  }
</style>
<header class="container-fluid site-header" style="background-color:{{page.nav_color}};">
  <nav class="navbar navbar-full navbar-light site-nav">
    <a class="navbar-brand site-nav-brand" href="{{ site.baseurl }}/">
      <img src="{{site.baseurl}}/images/icons/dogehack.jpg" alt="{{ site.title }}">
      <div class="site-nav-brand-title">{{ site.title }}</div>
    </a>

    <ul class="nav navbar-nav pull-md-right site-nav-links">
      <li class="nav-item">
        <a href="{{ site.baseurl }}/mainpages/aboutus" class="nav-link">About Us</a>
      </li>
      <li class="nav-item">
        <a href="{{ site.baseurl }}/mainpages/sponsors" class="nav-link">Sponsors</a>
      </li>
      <li class="nav-item">
        <a href="{{ site.baseurl }}/mainpages/agenda" class="nav-link">Agenda</a>
      </li>
      <li class="nav-item">
        <a href="{{ site.baseurl }}/mainpages/speakers" class="nav-link">Speakers</a>
      </li>
      <li class="nav-item">
        <a href="http://medium.com/dogecon" target="_blank" class="nav-link">Blog</a>
      </li>
      <li class="nav-item" style="background-color: #ff0">
        <a href="{{ site.baseurl }}/mainpages/memories" class="nav-link">Memories</a>
      </li>
    </ul>
  </nav>
</header>
<div class="banner"> 
  Millions of thanks to all the participants. Dogecon Vancouver 2018 mooned! 
  <br>
  <a style="color: hsl(275, 100%, 25%, 1); font-size: .9em;" href="{{ site.baseurl }}/mainpages/memories" class="nav-link">
    Checkout the Memories Page
  </a>
</div>